.cart-no {
  position: absolute;
  min-height: 24px;
  min-width: 24px;
  border-radius: 50%;
  font-size: 0.8em;
  background-color: blue;
  color: white;
  text-align: center;
  top: -15px;
  right: 38px;
}


a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }



}

.logo {

  cursor: pointer;
  border-style: none;
  &.focus{
    outline: none;
  }

}
